
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
  }
  .home-container{
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    text-align: center;
  }
  
  .home{
    display: flex;
    background-color: rgb(53,51,83);
    /* background: linear-gradient(to bottom, rgba(53,51,83,1) 0%,rgba(53,51,83,1) 90%); */
    /* url("../Media/20220615_153107.jpg") no-repeat center; */
    height: 100vh;
    color: white ;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Rubik','Ubuntu',sans-serif;
  }
  .hire-btn{
    background-color: #FF4C60;
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    border: none;
    border-radius: 70px;
    width: 120px;
    height: 40px;
    margin-top: 20px;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
  }
  .socials{
    margin-top: 35px;
  }
  .socials img{
    height: 25px;
    width: 25px;
    padding: 5px;
    border-radius: 10px;
  }
  .face{
    height:110px;
    width:110px;
  }
  .home .max-width{
    /* margin: auto 0 auto 40px; */
  }
  .home .home-content .text-1{
    font-size: 27px;
  }
  .home .home-content .text-2{
    font-family: 'Rubik', Helvetica, 'Great Vibes';
    font-size: 35px;
    font-weight: bold;
    margin-top: 25px;
    /* margin-top: 9px;
    margin-left: -3px; */
  }
  .home .home-content .text-3{
    font-size: 20px;
    font-family: 'Rubik';
    font-weight: 500;
    margin-top: 15px;
    /* margin: 5px */
  }
  .home .home-content .text-3 span{
    color: #f4a261;
    font-weight: 500;
  }
  .home .home-content a{
    display: inline-block;
    background: #f4a261;
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 20px;
    margin-top: 20px;
    border-radius: 6px;
    height: 50px;
    border: 2px solid #f4a261;
    transition: all 0.3s ease;
  }
  
  .home .home-content a:hover{
    color: #f4a261;
    background: none;
  }

  .scroll-ind {
    background: transparent;
    height: 5vh;
    /* position: relative; */
    width: 100%;
    /* padding-bottom: 200px; */
  }
  
  .scroll-ind::before {
    animation: bounce 2s ease infinite;
    bottom: 2rem;
    color: #fff;
    content: '╲╱';
    font-size: 1rem;
    height: 4rem;
    left: 50%;
    letter-spacing: -1px;
    line-height: 4rem;
    margin-left: -3rem;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    width: 6rem;
  }
  
  @keyframes bounce {
    50% {
      transform: translateY(-50%);
    }
  }